body {
	margin: 0px;
	height: 100vh;
	font-family: century gothic;
	background: linear-gradient(to bottom right, #df8181, #fff);
}

p {
	text-align: center;
	line-height: 22px;
}

.menu a{
	border: 2px solid #fff;
	color: #fff;
}

.menu a:hover {
	background-color: #fff;
	color: #df8181;
}


.como_jogar {
	width: 1090px;
	height: 200px;
	margin-top: 65px;
	margin-left: 160px;
	padding: 20px 10px 30px 10px;
	float: left;
	border: 2px solid #fff;
	border-radius: 20px;
}

.como_jogar_titulo {
	font-size: 35px;
	text-align: center;
}


.como_jogarimg {
	width: 160px;
	height: 160px;
	float: left;
	margin-top: 42px;
	margin-bottom: 40px;
	margin-left: 600px;
	
}


