body {
	margin: 0px;
	height: 100vh;
	font-family: century gothic;
	background: linear-gradient(to bottom right, #b89494, #fff);
}

p {
	text-align: center;
	line-height: 22px;
}


input {
	width: 480px;
	height: 25px;
	margin-bottom: 20px;
	background-color: #f2e6ff;
	font-size: 16px;
	font-family: century gothic;
}

.menu a{
	border: 2px solid #fff;
	color: #fff;
}

.menu a:hover {
	background-color: #fff;
	color: #b89494;
}

.titulo {
	width: 300px;	
	font-size: 25px;
	text-align: left;
	margin-left: 270px;
	margin-top: 120px;
}

.contatoimg {
	width: 300px;
	height: 300px;
	float: left;
	border-radius: 100%;
	margin: 25px 20px 40px 230px;
}

.contato {
	background-color: #fff;
	width: 505px;
	height: 380px;
	float: right;
	padding: 10px 10px 10px 10px;
	margin-right: 200px;
	border: 2px solid #996666;
	border-radius: 10px;
	margin-top: -75px;
}

form {
	background-color: #fff;
	width: 505px;
	height: 380px;
}

.nome, .email {
	display: block;
	margin-top: 3px;
	width: 500px;
	height: 35px;
	border: none;
	border-bottom: 2px solid #996666;
}

.msg {
	display: block;
	width: 500px;
	height: 160px;
	border: none;
	border-bottom: 2px solid  #996666;	
}

 .enviar {
	background-color: #996666;
	width: 500px;
	height: 43px;
	padding: 5px;
	color: white;
	border-radius: 10px;
	border: none;
	font-size: 20px;
}

.enviar:hover {
	background-color: white;
	color: #996666;
	border: 2px solid #996666;
}


